<article>
    <div class="p-1 m-3 d-flex justify-content-center">
        <div>
            <h3> <strong>Name:</strong> <%= @user.name %> </h3>
            <p> <strong>Email:</strong> <%= @user.email %> </p>
            <p><%= link_to "Edit", edit_user_path(@user) %></p>
            <p><%= link_to 'Destroy', user_path(@user),
                            method: :delete,
                            data: {confirm: "Are you sure?" } %></p>
        </div>
    </div>

    <div class="container">
        <div>
            <% @user.attended_events.each do |event| %>
                <% if event.date > Time.now %>
                    <div class="m-1">
                        <div class="border border-secondary p-2 m-3">
                            <h6> Upcoming event: </h6>
                            <p><strong>Event Description:</strong> <%= event.description %></p>
                            <p><strong>Event Start Date and Time:</strong> <%= event.date %></p>
                        </div>
                    </div>
                <% else %>
                    <div class="m-1">
                        <div class="border border-secondary p-2 m-3">
                            <h6> Previously attended event: </h6>
                            <p><strong>Event Description:</strong> <%= event.description %></p>
                            <p><strong>Event Start Date and Time:</strong> <%= event.date %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

</article>