<!DOCTYPE html>
<html>
  <head>
    <title>PEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-dark bg-secondary p-2 mb-3">
        <div class="d-flex flex-row-reverse">
          <% if current_user %>
            <%= link_to 'Sign Out', session_path('active'), method: :delete, class: "navbar-brand mx-3" %>
            <%= link_to current_user.name, current_user, class: "navbar-brand mx-3" %>
          <% else %>
            <%= link_to 'Sign up', new_user_path, class: "navbar-brand mx-3" %>
            <%= link_to 'Sign In', new_session_path, class: "navbar-brand mx-3" %>
          <% end %>
          <%= link_to 'Home', root_path, class: "navbar-brand mx-3" %>
        </div>
    </nav>

    <div class="p-3 d-flex justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
